@model IEnumerable<LiberLend.Models.LibraryModels.LibraryListItem>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "BrowseIndex";
}

<h2>All Community Libraries</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.MemberAppUserIdList.Contains(User.Identity.GetUserId()))
                {
                    @Html.ActionLink("Details", "Details", new { id = item.LibraryId });
                    <text> | Joined </text>
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.LibraryId });
                    <text> | </text>
                    @Html.ActionLink("Join", "../Membership/Create", new { id = item.LibraryId });
                }
            </td>
        </tr>
    }

</table>
