@model LiberLend.Models.LibraryModels.LibraryDetails
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
}

<h2>Library Details</h2>

<div>
    <h4>Library Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaretakerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaretakerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfMembers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfMembers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfBooks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfBooks)
        </dd>

    </dl>
</div>
<p>
    @if (Model.ApplicationUserId == User.Identity.GetUserId())
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.LibraryId });
        <text> | </text>
        @Html.ActionLink("Delete", "Delete", new { id = Model.LibraryId });
        <text> | </text>
        @Html.ActionLink("View Members", "../Membership/LibraryMembers", new { id = Model.LibraryId });
        <text> | </text>
        @Html.ActionLink("View Books", "x", new { id = Model.LibraryId });
        <text> | </text>
        @Html.ActionLink("Back to List", "Index")
    }
    else if (Model.MembershipId != 0)
    {
        @Html.ActionLink("View Members", "../Membership/LibraryMembers", new { id = Model.LibraryId });
        <text> | </text>
        @Html.ActionLink("View Books", "x", new { id = Model.LibraryId });
        <text> | </text>
        @Html.ActionLink("Cancel Membership", "../Membership/Delete", new { id = Model.MembershipId });
        <text> | </text>
        @Html.ActionLink("Back to List", "Index")
    }
    else
    {
        @Html.ActionLink("View Members", "../Membership/LibraryMembers", new { id = Model.LibraryId });
        <text> | </text>
        @Html.ActionLink("View Books", "x", new { id = Model.LibraryId });
        <text> | </text>
        @Html.ActionLink("Join", "../Membership/Create", new { id = Model.LibraryId });
        <text> | </text>
        @Html.ActionLink("Back to List", "Index")
    }
</p>
