@model IEnumerable<LiberLend.Models.ReservationModels.ReservationListItem>

@{
    ViewBag.Title = "Incoming Reservations";
}

<h2>Incoming Reservations</h2>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<hr />
<h4>Get in touch with the borrower by clicking on the reservation Details.</h4>
<h4>As the book owner, you can adjust the reservation period on incoming reservations by clicking on Edit.</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationPeriod)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationPeriod)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReservationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReservationId })
            </td>
        </tr>
    }

</table>
